<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}<link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Конструктор курсовых и дипломных работ</title>
</head>
<body>

    <div class="sidebar">
        <h1><a href="{{ url_for('main:page') }}" style="text-decoration: none; color: inherit;">Конструктор</a></h1>
        {% if user %}
            <button id="newDocumentButton"><a class="no-style-link" href="#">Новый документ</a></button>
        {% else %}
            <button><a class="no-style-link" href="{{ url_for('login:page') }}">Новый документ</a></button>
        {% endif %}
        <input type="hidden" id="isAuthenticated" value="{{ 'true' if user else 'false' }}">
        <hr>
        <div class="history">
            <h3>История документов</h3>
            <ul>
                {% if documents %}
                    {% for document in documents %}
                        <li><a href="{{ document.url }}">{{ document.name }}</a></li>
                    {% endfor %}
                {% else %}
                    <li><a href="#" style="pointer-events: none; color: gray;">Нет созданных документов</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="profile">
            <div class="profile-container" onclick="toggleProfileMenu()">
                <span class="profile-icon">👤</span>
                <span>Мой профиль</span>
                <div class="profile-menu" id="profileMenu">
                    
                    <button onclick="aboutService()">О сервисе</button>
                    {% if user %}
                        <button onclick="deleteAllDocuments()">Удалить все документы</button>
                        <button type="submit" onclick=logout()>Выйти</button>
                    {% else %}
                        
                        <a href="{{ url_for('login:page') }}" class="no-style-link">
                            <button>Войти</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    <input type="hidden" id="aboutUrl" value="{{ url_for('about:page') }}">
    <input type="hidden" id="loginUrl" value="{{ url_for('login:page') }}">
    {% block scripts %}
        <script src="{{ url_for('static', path='js/main.js') }}"></script>
    {% endblock %}
</body>
</html>