{% extends "base.html" %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='css/create_document.css') }}">

{% endblock %}
{% block content %}
    <h2>Конструктор документа <span style="color: black;">({{document.name}})</span></h2>
    <div class="button-container">
        <button class="section-button">Титульный лист</button>
        <button class="section-button">Оглавление</button>
        <button class="section-button">Список сокращений</button>
        <button class="section-button">Введение</button>
        <button class="section-button">Основная часть</button>
        <button class="section-button">Заключение</button>
        <button class="section-button">Список используемых источников</button>
        <button class="section-button">Приложения</button>
    </div>
{% endblock %}
