{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="src/presentation/static/css/register.css">
{% endblock %}
{% block content %}
    <h2>Регистрация</h2>
    <form method="POST" id="registration-form" class="registration-form" onsubmit="register(event)">
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="Введите Логин" required>
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Введите Email" required>
        </div>
        <div class="form-group password-container">
            <input type="password" id="password" name="password" placeholder="Введите Пароль" required>
            <span class="toggle-password" onclick="togglePasswordVisibility('password')">
                👁
            </span>
        </div>
        <p>Уже есть аккаунт? <a href="{{ url_for('login:page') }}">Войти</a></p>
        <button type="submit" class="submit-button">Зарегистрироваться</button>
    </form>
{% endblock %}