{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="src/presentation/static/css/login.css">
{% endblock %}
{% block content %}
    <div class="password-reset-form">
        <h2>Восстановление пароля</h2>
        <form method="POST" id="passwordResetForm" onsubmit="resetPassword(event)">
            <div class="form-group">
                <input type="email" id="email" name="email" required placeholder="Введите ваш Email">
            </div>
            <button type="submit" class="submit-button">Отправить</button>
        </form>
    </div>
{% endblock %}